In [3]:
import pandas as pd
data={'name':['Mark','Jane','Chris','Ryan'],
      'age':[33,32,44,42],
     'score':[91.3,83.4,77.5,87.7]}
df=pd.DataFrame(data)

In [4]:
df

    name  age  score
0   Mark   33   91.3
1   Jane   32   83.4
2  Chris   44   77.5
3   Ryan   42   87.7

In [5]:
df.sum() #합계

name     MarkJaneChrisRyan
age                    151
score                339.9
dtype: object

In [6]:
df.mean() #평균

age      37.750
score    84.975
dtype: float64

In [7]:
df.age

0    33
1    32
2    44
3    42
Name: age, dtype: int64

In [10]:
df['age']

0    33
1    32
2    44
3    42
Name: age, dtype: int64